{% extends 'base.html.twig' %}

{% block title %}Circus{% endblock %}

{% block body %}
    <div class="row-slide">
        <div class="slide">
            <div class="slide-mask">
                <ul class="slide-content">
                    <li class="slide-choice">Welcome</li>
                    <li class="slide-choice">to</li>
                    <li class="slide-choice">The</li>
                    <li class="slide-choice">Circus</li>
                </ul>
            </div>
            <div class="slide-nav">
                <ul>
                    <li class="point"></li>
                    <li class="point"></li>
                    <li class="point"></li>
                    <li class="point"></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
