{% extends 'base.html.twig' %}

{% block title %}Circus{% endblock %}

{% block body %}
    <div class="slide">
        <div class="slide-mask">
            <ul class="slide-content">
                <li class="slide-choice">
                    <img src="https://assets.change.org/photos/5/zz/oh/KnzzoHOntXNlACz-800x450-noPad.jpg?1516979597" alt="Image Gruss"></li>
                <li class="slide-choice">
                    <img src="https://assets.change.org/photos/5/zz/oh/KnzzoHOntXNlACz-800x450-noPad.jpg?1516979597" alt="Image Gruss"></li>
                <li class="slide-choice">
                    <img src="https://assets.change.org/photos/5/zz/oh/KnzzoHOntXNlACz-800x450-noPad.jpg?1516979597" alt="Image Gruss"></li>
                <li class="slide-choice">
                    <img src="https://assets.change.org/photos/5/zz/oh/KnzzoHOntXNlACz-800x450-noPad.jpg?1516979597" alt="Image Gruss"></li>
            </ul>
        </div>
        <div class="slide-nav">
            <ul>
                <li class="point"></li>
                <li class="point"></li>
                <li class="point"></li>
                <li class="point"></li>
            </ul>
        </div>
    </div>
    <div class="line">
        <h1>The Circus is very magical</h1>
    </div>
{% endblock %}
